<% provide(:title, "About") %>
<body>
  <div class="center jumbotron">
    <h1>All About Roses</h1>
    <h2>
      “It is the time you have wasted for your rose that makes your rose so important.”
    </h2>
      <%= link_to image_tag("colorful_roses.jpg", alt:"Roses", width: "400"),
                            class: "center"%>
  </div>
</body>
