<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
    </section>
  </aside>
</div>
<div class="center">
  <%= link_to "Win A Rose", {:controller => :roses, :action => :show},
                              {class: "btn btn-primary btn-lg navbar-inverse"} %>
</div>
