<footer class="footer">
  <small>
    <a href="https://en.wikipedia.org/wiki/The_Little_Prince">The Little Prince</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", "https://www.linkedin.com/in/xuying-swift-a68737130/" %></li>
    </ul>
  </nav>
</footer>
