<header class="navbar navbar-fixed-top navbar-inverse">
  <!--classes can be used multiple times on a page -->
  <div class="container">
    <%= link_to "Win A Rose", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
